<footer class="site-footer h-card" style="vertical-align: middle; margin: 0; padding-bottom: 0">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
                    <div class="columna">
                        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    </div>

                    <div class="columnsep1">
                        <p></p>
                    </div>

                    <div class="columnb" align="left">
                        <a href = "mailto: sanad_altaher@outlook.com">sanad_altaher@outlook.com</a><br style="line-height: 15px" />
                        <a href = "mailto: mhaltaher18@eng.just.edu.jo">mhaltaher18@eng.just.edu.jo</a>
                    </div>

            <div class="columnsep2">
                <p></p>
            </div>

            <div class="column2">
                Mohammad Sanad AlTaher's personal website intends to host his professional
                information and public work such as: course notes, guides, papers, and more!
            </div>
    </div>
  </div>


</footer>


<style>



</style>




